* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

#left-panel {
  background: white;
  width: 500px;
  padding: 40px 30px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;  
}


#left-panel p {
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #333;
}

#left-panel p a {
  color: #1a53ff;
  text-decoration: none;
  font-weight: 500;
}

h2 {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 10px;
}

form {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  text-align: left;
}

label {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
  color: #333;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 7px 10px;
  margin-bottom: 18px;
  font-size: 14px;
  border-radius: 5px;
  border: 1.3px solid #444;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type=email]:focus, input[type=password]:focus {
  border-color: #1a53ff;
}

/*responsivo */

@media (max-width: 1024px) {
  #left-panel {
    width: 400px;
    padding: 30px 20px;
  }

  .logo {
    width: 60%;
  }

  form {
    max-width: 280px;
  }


}

@media (max-width: 768px) {
  #container {
    flex-direction: column;
  }

  #left-panel {
    width: 100%;
    height: auto;
    box-shadow: none;
    padding: 30px 20px;
    order: 2;
  }


form {
    max-width: 280px;
  }

  footer {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  #left-panel {
    padding: 25px 15px;
  }


  h2 {
    font-size: 18px;
  }

  label {
    font-size: 13px;
  }

  input[type=email],
  input[type=password] {
    font-size: 13px;
    padding: 6px 8px;
  }

}
